/* 
====== 
Variables 
======
*/
:root {
  --smallWidth: 320px;
  --lightShadow: rgba(165, 158, 158, 0.8) 0px 0.15rem 0.5rem;
  --mainBorderRadius: 0.25rem;
  --backgroundColor: #353535;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #040714;
}

a:hover {
  transform: scale(1.1);
}
/* 
====== 
Form
======
*/
.search {
  padding: 5rem 0;
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: clamp(var(--smallWidth), 50vw, 600px);
  margin: 0 auto;
  background: var(--backgroundColor);
  padding: 2.5rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.search-form label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: #fff;
}

.search-form input {
  width: 100%;
  border: none;
  border-color: transparent;
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* .card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 280px;
  background: rgb(19, 19, 19);
  color: #fff;
  padding: 2rem;
}
.card-grid-mini {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-rows: 150px;
  justify-content: space-evenly;
} */
.animal-card-container {
}
.animal-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--backgroundColor);
  font-size: 1rem;
  color: #fff;
  box-shadow: var(--lightShadow);
  height: 100%;
  width: 100%;
  border-radius: var(--mainBorderRadius);
  transition: all 500ms;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  animation: cardEntrance 1s ease-in;
  animation-fill-mode: backwards;
}

.animal-card:hover {
  box-shadow: 0 0.35em 1.75em rgba(2, 8, 20, 0.1),
    0 0.175em 0.5em rgba(2, 8, 20, 0.08);
  transform: scale(1.05);
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animal-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.animal-card:hover .animal-card-inner {
  transform: rotateY(180deg);
}
.animal-card-front,
.animal-card-back {
  backface-visibility: hidden;
  transition: 1s linear;
  width: 100%;
  height: 100%;
  position: absolute;
}

.animal-card-back {
  transform: rotateY(180deg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-card-back p {
  text-transform: capitalize;
  font-size: 2rem;
}

.animal-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.animal-img {
  min-height: 240px;
  max-width: 300px;
  object-fit: cover;
}

.animal-img-mini {
  min-height: 150px;
  width: 100%;
  object-fit: cover;
}
/* .animal-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-card-footer p {
  margin: 0.5rem;
}

.animal-link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
} */

/* .play-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  width: 50%;
  margin: 4rem auto 0;
  background: var(--backgroundColor);
  color: #fff;
  box-shadow: var(--lightShadow);
  border-radius: var(--mainBorderRadius);
}
.play-bar button {
  padding: 10px;
  width: 100px;
  margin-top: 20px;
  font-size: 1rem; 
}*/
@media screen and (max-width: 760px) {
  .card-grid {
    padding: 1rem 0;
  }
  .search {
    padding: 2rem 0;
  }
  .search-form {
    padding: 1rem 0.5rem;
  }
  /* .play-bar {
    width: 100%;
    padding: 1rem;
  } */
}
